<!DOCTYPE html>
<html>
    <head>
        <title>Multicord - App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://lib.cadenchau.com/styles/minimalistic.css">
        <link rel="stylesheet" href="/static/styles/globals.css">
        <link rel="stylesheet" href="/static/styles/style.css">
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
        <script src="https://lib.cadenchau.com/lib.js"></script>
        <script src="/static/scripts/settings.js"></script>
        <script src="/static/scripts/script.js"></script>
        <script src="/static/scripts/index_load.js"></script>
    </head>
    <body>
        <div class="side-navigation guild-container"></div>
        <div class="content">
            <div class="window" style="height: 20rem; width: 30rem;">
                <div class="subtitle">Global Stream</div>
                <div class="messages-container" id="globalMessagesContainer"></div>
            </div>
        </div>
    </body>
</html>