body {
    font-family: "Open Sans";
    background: var(--background);
    color: var(--text);
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-x: hidden;
}

.side-navigation {
    width: 9rem;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--accent);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.guild-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.guild-container::-webkit-scrollbar { 
    display: none;
}

.guild {
    position: relative;
}

.guild img {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    background: var(--accent-dark);
}

.guild-name {
    position: absolute;
    color: var(--text);
}

.content {
    box-sizing: border-box;
    height: 100% !important;
}

.window {
    padding: 0.5rem !important;
    box-sizing: border-box;
    border-radius: 5px;
    background: var(--accent);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.subtitle {
    font-size: 0.8rem;
    font-weight: bold;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-header {
    font-size: 0.8rem;
}

.message-header img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.message-content {
    padding-left: 1.5rem;
    font-size: 0.9rem;
    white-space: normal;
    word-wrap: break-word;
}

.server-tag {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    padding: 0 0.2rem;
    font-size: 0.7rem;
}

.server-tag img {
    position: absolute;
    width: 200%;
    height: 200%;
    filter: blur(10px);
    opacity: 50%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-dark);
}

.grid-stack {
    margin: 1rem;
    height: calc(100% - 2rem) !important;
}